/TestPostMessageMulitpart/obj
/TestPostMessageMulitpart/bin
/TestPostMessageMulitpart/packages
/TestPostMessageMulitpart/.vs/TestPostMessageMulitpart/v15/*.suo
/DownloadWebPortal/bin
/DownloadWebPortal/obj
/DownloadWebPortal/*.user
/TestDownloadWebAPIs/packages
/TestDownloadWebAPIs/bin
/TestDownloadWebAPIs/obj
/TestDownloadWebAPIs/.vs/TestDownloadWebAPIs/v15
/TestDownloadWebAPIs/.vs/config
/HowToUseRepository/bin
/HowToUseRepository/obj
